In [1]:
import pandas as pd
import requests

import os
from dotenv import load_dotenv
load_dotenv()

True

In [2]:
df = pd.read_csv("../data/eurocup_2020.csv")
df.head()

,stage,date,pens,pens_home_score,pens_away_score,team_name_home,team_name_away,team_home_score,team_away_score,possession_home,possession_away,total_shots_home,total_shots_away,shots_on_target_home,shots_on_target_away,duels_won_home,duels_won_away,events_list,lineup_home,lineup_away
0,Final,11.07.2021,True,3,2,Italy,England,1,1,66%,34%,19,6,6,2,53%,47%,"[{'event_team': 'away', 'event_time': "" 2' "", ...","[{'Player_Name': 'Insigne', 'Player_Number': '...","[{'Player_Name': 'Kane', 'Player_Number': '9'}..."
1,Semi-finals,07.07.2021,False,False,False,England,Denmark,2,1,59%,41%,20,6,10,3,50%,50%,"[{'event_team': 'away', 'event_time': "" 30' "",...","[{'Player_Name': 'Kane', 'Player_Number': '9'}...","[{'Player_Name': 'Krogh Damsgaard', 'Player_Nu..."
2,Semi-finals,06.07.2021,True,4,2,Italy,Spain,1,1,29%,71%,7,16,4,5,49%,51%,"[{'event_team': 'away', 'event_time': "" 51' "",...","[{'Player_Name': 'Insigne', 'Player_Number': '...","[{'Player_Name': 'Torres', 'Player_Number': '1..."
3,Quarter-finals,03.07.2021,False,False,False,Ukraine,England,0,4,48%,52%,7,10,2,6,42%,59%,"[{'event_team': 'away', 'event_time': "" 4' "", ...","[{'Player_Name': 'Yaremchuk', 'Player_Number':...","[{'Player_Name': 'Kane', 'Player_Number': '9'}..."
4,Quarter-finals,03.07.2021,False,False,False,Czech Republic,Denmark,1,2,56%,44%,16,11,5,7,48%,52%,"[{'event_team': 'away', 'event_time': "" 5' "", ...","[{'Player_Name': 'Schick', 'Player_Number': '1...","[{'Player_Name': 'Dolberg', 'Player_Number': '..."

In [3]:
categoricas = df.select_dtypes(include=object).columns.values
categoricas

array(['stage', 'date', 'pens_home_score', 'pens_away_score',
       'team_name_home', 'team_name_away', 'possession_home',
       'possession_away', 'duels_won_home', 'duels_won_away',
       'events_list', 'lineup_home', 'lineup_away'], dtype=object)

In [4]:
df.dtypes

stage                   object
date                    object
pens                      bool
pens_home_score         object
pens_away_score         object
team_name_home          object
team_name_away          object
team_home_score          int64
team_away_score          int64
possession_home         object
possession_away         object
total_shots_home         int64
total_shots_away         int64
shots_on_target_home     int64
shots_on_target_away     int64
duels_won_home          object
duels_won_away          object
events_list             object
lineup_home             object
lineup_away             object
dtype: object

In [5]:
x = df["duels_won_home"][0]
print(x)

53%

In [6]:
def modificar(porcentaje):
    porcentaje= int(porcentaje.replace("%", ""))
    return porcentaje
columnas = ["possession_home", "possession_away", "duels_won_home", "duels_won_away"]

for i in columnas:
    df[i] = df[i].apply(modificar)

In [7]:
df.dtypes

stage                   object
date                    object
pens                      bool
pens_home_score         object
pens_away_score         object
team_name_home          object
team_name_away          object
team_home_score          int64
team_away_score          int64
possession_home          int64
possession_away          int64
total_shots_home         int64
total_shots_away         int64
shots_on_target_home     int64
shots_on_target_away     int64
duels_won_home           int64
duels_won_away           int64
events_list             object
lineup_home             object
lineup_away             object
dtype: object

In [8]:
participantes = list(df['team_name_home'].unique())
print(f" En este dataframe esta compuesto por :{participantes}")

 En este dataframe esta compuesto por :[' Italy ', ' England ', ' Ukraine ', ' Czech Republic ', ' Belgium ', ' Switzerland ', ' Sweden ', ' France ', ' Croatia ', ' Netherlands ', ' Wales ', ' Portugal ', ' Germany ', ' Slovakia ', ' Finland ', ' Russia ', ' North Macedonia ', ' Spain ', ' Hungary ', ' Denmark ', ' Turkey ', ' Poland ', ' Scotland ', ' Austria ']

In [9]:
def total_goles(equipo):
    goles_local = df[(df['team_name_home'] == f'{equipo}')]['team_home_score'].sum()
    goles_vist = df[(df['team_name_away'] == f'{equipo}')]['team_away_score'].sum()
    return int(goles_local + goles_vist)

goles_por_equipo = [total_goles(equipo) for equipo in participantes]
goles_por_equipo

[13, 11, 6, 6, 9, 8, 5, 7, 7, 8, 3, 7, 6, 2, 1, 2, 2, 13, 3, 12, 1, 4, 1, 5]

In [10]:
def total_goles(equipo):
    goles_local = df[(df['team_name_home'] == f'{equipo}')]['team_away_score'].sum()
    goles_vist = df[(df['team_name_away'] == f'{equipo}')]['team_home_score'].sum()
    return int(goles_local + goles_vist)

goles_encajados = [total_goles(equipo) for equipo in participantes]
goles_encajados

[4, 2, 10, 4, 3, 9, 4, 6, 8, 4, 6, 7, 7, 7, 3, 7, 8, 6, 6, 7, 8, 6, 5, 5]

In [11]:
def tiros(equipo):
    tiros_local = df[(df['team_name_home'] == f'{equipo}')]['total_shots_home'].sum()
    tiros_vist = df[(df['team_name_away'] == f'{equipo}')]['total_shots_away'].sum()
    return int(tiros_local + tiros_vist)
tiros_total = [tiros(equipo) for equipo in participantes]
tiros_total

[127,
 63,
 51,
 56,
 48,
 67,
 41,
 56,
 42,
 52,
 39,
 51,
 49,
 24,
 19,
 25,
 33,
 115,
 19,
 92,
 40,
 40,
 41,
 53]

In [12]:
def penaltis(equipo):
    penaltis_local = int(df[(df['team_name_home'] == f'{equipo}') & (df['pens_home_score'] != 'False')]['pens_home_score'].sum())
    penaltis_vist = int(df[(df['team_name_away'] == f'{equipo}') & (df['pens_home_score'] != 'False')]['pens_away_score'].sum())
    return int(penaltis_local + penaltis_vist)
penaltis_total = [penaltis(equipo) for equipo in participantes]
penaltis_total

[34, 2, 0, 0, 0, 6, 0, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 23, 0, 0, 0, 0, 0, 0]

In [13]:
def posesion(equipo):
    posesion_local = df[(df['team_name_home'] == f'{equipo}')]['possession_home'].sum()
    posesion_vist = df[(df['team_name_away'] == f'{equipo}')]['possession_away'].sum()
    return int(posesion_local + posesion_vist)
posesion_total = [posesion(equipo) for equipo in participantes]
posesion_total

[384,
 357,
 245,
 241,
 269,
 239,
 133,
 213,
 198,
 219,
 148,
 217,
 251,
 135,
 110,
 127,
 125,
 441,
 87,
 320,
 149,
 148,
 130,
 214]

In [14]:
def posesion(equipo):
    pos_local = df[df['team_name_home'] == f'{equipo}']['possession_home'].sum()
    pos_vist = df[df['team_name_away'] == f'{equipo}']['possession_away'].sum()
    partidos =  df[(df['team_name_away'] == f'{equipo}')|(df['team_name_home'] == f'{equipo}')]['stage'].count()
    posesion_equipo = (pos_local+pos_vist)/partidos
    return int(posesion_equipo)

 
posesion_por_partido =  [posesion(equipo) for equipo in participantes]
posesion_por_partido

[54,
 51,
 49,
 48,
 53,
 47,
 33,
 53,
 49,
 54,
 37,
 54,
 62,
 45,
 36,
 42,
 41,
 73,
 29,
 53,
 49,
 49,
 43,
 53]

In [15]:
def entradas(equipo):
    ent_local = df[df['team_name_home'] == f'{equipo}']['duels_won_home'].sum()
    ent_vist = df[df['team_name_away'] == f'{equipo}']['duels_won_away'].sum()
    partidos =  df[(df['team_name_away'] == f'{equipo}')|(df['team_name_home'] == f'{equipo}')]['stage'].count()
    lances_ganados = (ent_local+ent_vist)/partidos
    return int(lances_ganados)

 
lances_por_partido =  [entradas(equipo) for equipo in participantes]
lances_por_partido

[48,
 52,
 47,
 47,
 52,
 53,
 44,
 54,
 50,
 52,
 47,
 54,
 46,
 49,
 46,
 51,
 47,
 52,
 44,
 52,
 46,
 54,
 49,
 51]

In [16]:
equipos=(participantes)
total_goles=(goles_por_equipo)
encajados= (goles_encajados )
tiros = (tiros_total)
penaltis = (penaltis_total)
posesion = (posesion_por_partido)
entradas = (lances_por_partido)
equipos, total_goles,total_encajados,tiros,penaltis,posesion,entradas = pd.DataFrame(equipos),pd.DataFrame(total_goles),pd.DataFrame(encajados),pd.DataFrame(tiros),pd.DataFrame(penaltis),pd.DataFrame(posesion),pd.DataFrame(entradas)

In [17]:
pd.concat([equipos,total_goles,total_encajados,tiros,penaltis,posesion,entradas], axis=1, ignore_index=True)
data_final = pd.concat([equipos,total_goles,total_encajados,tiros,penaltis,posesion,entradas], axis=1, ignore_index=True)
data_final

                    0   1   2    3   4   5   6
0              Italy   13   4  127  34  54  48
1            England   11   2   63   2  51  52
2            Ukraine    6  10   51   0  49  47
3     Czech Republic    6   4   56   0  48  47
4            Belgium    9   3   48   0  53  52
5        Switzerland    8   9   67   6  47  53
6             Sweden    5   4   41   0  33  44
7             France    7   6   56   4  53  54
8            Croatia    7   8   42   0  49  50
9        Netherlands    8   4   52   0  54  52
10             Wales    3   6   39   0  37  47
11          Portugal    7   7   51   0  54  54
12           Germany    6   7   49   0  62  46
13          Slovakia    2   7   24   0  45  49
14           Finland    1   3   19   0  36  46
15            Russia    2   7   25   0  42  51
16   North Macedonia    2   8   33   0  41  47
17             Spain   13   6  115  23  73  52
18           Hungary    3   6   19   0  29  44
19           Denmark   12   7   92   0  53  52
20            Turkey    1   8   40   0  49  46
21            Poland    4   6   40   0  49  54
22          Scotland    1   5   41   0  43  49
23           Austria    5   5   53   0  53  51

In [18]:
data_final.columns

RangeIndex(start=0, stop=7, step=1)

In [19]:
data_final.columns = ['Paises', 'Goles Metidos', 'Goles Encajados', 'Tiros a Puerta', 'Penaltis Lanzados', 'Posesion por Partido','Entradas/Lances Ganados']
data_final.columns

Index(['Paises', 'Goles Metidos', 'Goles Encajados', 'Tiros a Puerta',
       'Penaltis Lanzados', 'Posesion por Partido', 'Entradas/Lances Ganados'],
      dtype='object')

In [21]:
data_final

,Paises,Goles Metidos,Goles Encajados,Tiros a Puerta,Penaltis Lanzados,Posesion por Partido,Entradas/Lances Ganados
0,Italy,13,4,127,34,54,48
1,England,11,2,63,2,51,52
2,Ukraine,6,10,51,0,49,47
3,Czech Republic,6,4,56,0,48,47
4,Belgium,9,3,48,0,53,52
5,Switzerland,8,9,67,6,47,53
6,Sweden,5,4,41,0,33,44
7,France,7,6,56,4,53,54
8,Croatia,7,8,42,0,49,50
9,Netherlands,8,4,52,0,54,52
10,Wales,3,6,39,0,37,47
11,Portugal,7,7,51,0,54,54
12,Germany,6,7,49,0,62,46
13,Slovakia,2,7,24,0,45,49
14,Finland,1,3,19,0,36,46
15,Russia,2,7,25,0,42,51
16,North Macedonia,2,8,33,0,41,47
17,Spain,13,6,115,23,73,52
18,Hungary,3,6,19,0,29,44
19,Denmark,12,7,92,0,53,52
20,Turkey,1,8,40,0,49,46
21,Poland,4,6,40,0,49,54
22,Scotland,1,5,41,0,43,49
23,Austria,5,5,53,0,53,51

In [22]:
data_final_df = pd.DataFrame(data_final)
data_final_df.to_csv("clean_euro_data.csv",index = False,)